.input-group-text {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.btn-primary {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-weight: bold;
}

/* Responsif untuk layar kecil */
@media (max-width: 576px) {
  .input-group {
    width: 90% !important;
  }
  .btn-primary {
    font-size: 14px;
    padding: 6px 12px;
  }
  .input-group-text {
    padding: 6px 10px;
  }
}
